<h3><%= @recipe.name %></h3>


<% if @recipe.categories.any? %>
	<ul>
	    <% @recipe.categories.each do |category| %>
		<li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
		<% end %>
	</ul>
<% else %>
	<p>Your recipe has not been categorized yet.</p>
<% end %>

<form action="/recipes/<%= @recipe.id %>" method="post">
    <label for="name">Add a new category:</label>
    <input id="recipe_id" name="recipe_id" type="hidden" value="<%= @recipe.id() %>">
	<select name="category" id="category" class="form-control">
		<% @categories.each do |category| %>
		<option value="<%= category.id %>"><%= category.name %></option>
		<% end %>
	</select>

    <button type="submit" value='submit' class="btn btn-default">Add Category</button>
</form>

<p class="lead">Instructions:</p>

<p><pre class='lead'><%= @recipe.instructions %></pre></p>

<form action="/" method="get">
	<button class="btn btn-default btn-sm">Home</button>
</form>

<form action="/recipes/<%= @recipe.id %>/edit" method="post">
	<input name="_method" type="hidden" value="post">
	<button class="btn btn-default btn-warning btn-sm">Edit Recipe</button>
</form>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
	<input name="_method" type="hidden" value="delete">
	<button class="btn btn-default btn-danger btn-sm">Delete</button>
</form>